<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Your Feed</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/tweet">
<p>Text: <input type="text" name="text"> <input type="submit" value="Add"></p>
</form>

<form method="POST" action="/subscribe">
  <p>Follow User: <input type="text" name="User"> <input type="submit" value="Add"></p>
  </form>

</body>


</html>
