<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>LogIn</h1>

  <!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->

<!-- <p><a href="another">Go to the other page</a></p> -->

<form method="POST" action="/register">
<p>Please enter your UserID: <input type="text" name="UserID"> </p>
<p>Please enter your Password: <input type="text" name="Password"></p>
<p>Please enter your Email: <input type="text" name="Email"> </p>
<p>Please enter your birthday: <input type="date" name="dob"><input type="submit" value="register"></p>
</form>


</body>


</html>
